<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50797095584-tnis4ja9erfbj30aabefgbo1vphgous0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50797095584-tnis4ja9erfbj30aabefgbo1vphgous0</string>
	<key>API_KEY</key>
	<string>AIzaSyCB-kXm7sERag9Ir7zAgurlmyOJmTyRch0</string>
	<key>GCM_SENDER_ID</key>
	<string>50797095584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon-3e987</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-3e987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50797095584:ios:65adf38fd639c2608037c5</string>
</dict>
</plist>